<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestor de Gastos</title>
        <link rel="stylesheet" href="css/stylesForms.css">
    </head>
    <body>
        
        <h1>Gestor de Gastos</h1>
        <h2>Inicio de Sesión</h2>
        <div class="form-container">
            <input type="text" name="emailLogin" placeholder="Correo Electronico" required>
            <input type="text" name="passwordLogin" placeholder="Contraseña" required>
            <input type="submit" value="Iniciar Sesión">
            <a href="forgotPwd.html">¿Olvidaste la Contraseña?</a>
            <a href="register.html">Registrar</a>
        </div>
    </body>
</html>
