<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestor de Gastos</title>
    </head>
    <body>
        <div class="form-container">
            <h1>Olvide mi contraseña</h1>
            <input type="email" name="emailForgot" placeholder="Correo Electrónico" required>
            <!--<input type="submit" value="Enviar enlace"></input>-->
            <p>se envió un enlace de restablecimiento a tu correo Electrónico</p>
            <input type="password" name="newPwd" placeholder="Nueva Contraseña" required>
            <input type="password" name="confirmNewPwd" placeholder="Confirmar Nueva Contraseña" required>
            <input type="submit" value="Restablecer">
            <p>Contraseña actualizada correctamente</p>
        </div>
        
    </body>
</html>