<div class="home-container">
    <app-sidebar *ngIf="isVisible" (toggle)="onSidebarToggle($event)"></app-sidebar>
    <main class="main-content" [class.sidebar-expanded]="sidebarExpanded">
        <header class="header">
            <h1>Panel Principal</h1>
        </header>
        <div class="dashboard">
            <!-- Vista general de ingresos y gastos -->
            <div class="seccion resumen">
                <h3>Vista general de ingresos y gastos</h3>
                <p><strong>Ingresos:</strong>$consulta_SQL</p>
                <p><strong>Gastos:</strong>$consulta_SQL</p>
                <p><strong>Saldo:</strong>$consulta_SQL</p>
            </div>
    
            <!-- Últimos movimientos -->
            <div class="seccion movimientos">
                <h3>Últimos movimientos (lista de transacciones recientes)</h3>
                <div class="seccion lista">
                    <p class="lista">consulta_SQL </p>
                    <p>consulta_SQL </p>
                    <p>consulta_SQL </p>
                    <p>consulta_SQL </p>
                </div>
            </div>
    
            <!-- Gráficos interactivos -->
            <div class="seccion graficos">
                <div class="grafico-pastel">
                    <p>Gráfico de pastel para categorías de gastos</p>
                </div>
                <div class="grafico-linea">
                    <p>Gráfico de línea para tendencias de ingresos/gastos</p>
                </div>
                <div class="barra-progreso">
                    <p>Barra de progreso para presupuesto mensual</p>
                </div>
            </div>
    
            
        </div>
    </main>
    
</div>


    
